/* Ensure the footer sticks at the bottom */
.footer {
  background-color: #1e1e1e;
  color: white;
  text-align: center;
  padding: 15px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height:40px;
  /* Ensures it's above expanding cards */
  z-index: 10; /* Hi
}

/* To ensure content takes full height and pushes footer to bottom */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  flex-grow: 1;
  padding-bottom: 60px; /* Creates space above footer */
}

